input#menuToggle {
    display: none;
  }
  
  .open-lines {
    background-color: #3c3c3c;
    width: 24px;
    height: 2px;
    display: block;
    border-radius: 2px;
    cursor: pointer;
    position: relative;
    top: 8px;
  }
  
  .open-lines:before {
    content: "";
    background-color: #3c3c3c;
    width: 24px;
    height: 2px;
    display: block;
    border-radius: 2px;
    position: relative;
    top: -7px;
    transform: rotate(0deg);
    transition: all 0.3s ease;
  }
  
  .open-lines:after {
    content: "";
    background-color: #3c3c3c;
    width: 24px;
    height: 2px;
    display: block;
    border-radius: 2px;
    position: relative;
    top: 5px;
    transform: rotate(0deg);
    transition: all 0.3s ease;
  }
  
  .menuOpen {
      width: 42px;
      height: 40px;
      display: block;
      padding: 10px;
      cursor: pointer;
      position: fixed;
      top: 30px;
      right: 30px;
      z-index: 9999;
      border-radius: 3px;
  }
  
  .menuOpen:hover .open-lines:before {
    top: -8px;
  }
  
  .menuOpen:hover .open-lines:after {
    top: 6px;
  }
  
  .nav-menu {
      position: fixed;
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;
      background: rgba(0,0,0, 0.9);
      z-index: 999;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  
  .nav-menu label {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 20px;
    top: 20px;
    background-size: 100%;
    cursor: pointer;
  }
  
  .nav-menu .menuContent {
    position: relative;
    text-align: center;
  }
  
  .nav-menu ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
  }
  
  .nav-menu ul li a {
    display: inline-block;
      margin-bottom: 10px;
    color: #fff;
      font-size: 2em;
      line-height: 1.2;
      letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 20px;
    transition: all 0.2s;
  }
  
  .nav-menu ul li a:hover {
      background-color: #fff;
    color: #333;
      letter-spacing: 4px;
  }
  .menuEffects {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
  }
  
  .menuEffects ul {
    transform: translateY(0%);
    transition: all 0.5s;
  }
  
  #menuToggle:checked ~ .menuEffects {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s;
  }
  
  #menuToggle:checked ~ .menuEffects ul {
    opacity: 1;
  }
  
  #menuToggle:checked ~ .menuOpen .open-lines {
    background-color: transparent;
  }
  
  #menuToggle:checked ~ .menuOpen .open-lines:before {
    content: "";
    background-color: white;
    transform: rotate(45deg);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
  }
  
  #menuToggle:checked ~ .menuOpen .open-lines:after {
    content: "";
    background-color: white;
    transform: rotate(-45deg);
    position: relative;
    top: 0;
    right: 0;
    z-index: 1;
  }
  
  #menuToggle:not(:checked) ~ .menuEffects ul {
    transform: translateY(-30%);
  }
  
  
  .content{
      max-width: 900px;
      padding: 5em;
  }